<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إضافة مريض</title>
    <link rel="stylesheet" href="../public/styles/addDeviceStyle.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h5> إضافة جهاز</h5>
        <form>
            <label for="name" dir='rtl' lang='ar'>اسم الجهاز</label>
            <input type="name" id="name" name="name" placeholder="ادخل اسم المريض" dir='rtl' lang='ar' required>
            <label for="serial" dir='rtl' lang='ar'>serial number</label>
            <input type="serial" id="ID" name="ID" placeholder="ادخل serial number" dir='rtl' lang='ar' required>
            <label for="price" dir='rtl' lang='ar'>سعر الجهاز</label>
            <input type="price" id="adress" name="adress" placeholder="ادخل سعر الجهاز" dir='rtl' lang='ar' required>
            <label for="warranty" dir='rtl' lang='ar'>warranty</label>
            <input type="warranty" id="email" name="ID" placeholder="ادخل ال warranty" dir='rtl' lang='ar' required>
            <label for="status" dir='rtl' lang='ar'>حالة الجهاز</label>
            <input type="status" id="status" name="status" placeholder="ادخل حالة الجهاز" dir='rtl' lang='ar' required>
            <label for="company" dir='rtl' lang='ar'>اسم الشركة المصنعة</label>
            <input type="company" id="company" name="company" placeholder="ادخل اسم الشركة المصنعة" dir='rtl' lang='ar' required>
            <label for="date" dir='rtl' lang='ar'>تاريخ التصنيع</label>
            <input type="date" id="date" name="date" placeholder=" ادخل تاريخ التصنيع"dir='rtl' lang='ar' required>
            <div class="buttonContainer" dir='rtl' lang='ar' >
                <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
            </div>
        </form>
    </div>
   
</body>