<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> حجز عملية جراحية</title>
    <link rel="stylesheet" href="../public/styles/addOperation.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h5> حجز عملية جراحية</h5>
        <form>
            <label for="ID" dir='rtl' lang='ar'>رمز تعريف العملية</label>
            <input type="ID" id="ID" name="ID" placeholder=" ادخل رمز تعريف العملية" dir='rtl' lang='ar' required>
            <label for="roomDropdown" dir='rtl' lang='ar'>رقم الغرفة</label>
            <div class="roomDropdown" dir='rtl' lang='ar' required>
                <p class="roomID" dir='rtl' lang='ar' >اختر رقم الغرفة  </p>
                <div class="roomNumbers">
                    <p class="number">1</p>
                    <p class="number">2</p>
                    <p class="number">3</p>
                    <p class="number">4</p>
                    <p class="number">5</p>
                </div>
            </div>
            <label for="name" dir='rtl' lang='ar'>اسم المريض</label>
            <input type="name" id="name" name="name" placeholder="ادخل اسم المريض" dir='rtl' lang='ar' required>
            <label for="cost" dir='rtl' lang='ar'>تكلفة العملية</label>
            <input type="cost" id="cost" name="cost" placeholder="ادخل تكلفة العملية" dir='rtl' lang='ar' required>
            <label for="description" dir='rtl' lang='ar'>نوع العملية</label>
            <input type="description" id="description" name="description" placeholder="ادخل نوع العملية" dir='rtl' lang='ar' required>
            <div class="buttonContainer" dir='rtl' lang='ar' >
                <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
            </div>
        </form>
    </div>
   
</body>