<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الأجهزة</title>
    <link rel="stylesheet" href="../public/styles/devices.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="Nav-bar">
        <div id="Right-nav">
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-moon"></i></button>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button>
            <div id="Admin-data">
                <div class="navbar-name">عبدالله محمود</div>
                <img src="../public/images/myImage.jpg" alt="An admin's image" id="Admin-img">
            </div>
        </div>
        <div id="Left-nav">
            <button class="Nav-bar-btn active">المعدات</button>
            <button class="Nav-bar-btn">العمليات</button>
            <button class="Nav-bar-btn">غرف العمليات</button>
            <button class="Nav-bar-btn">الجراحون</button>
            <button class="Nav-bar-btn">المرضى</button>
            <button class="Nav-bar-btn">المواعيد</button>
            <button class="Nav-bar-btn">الصفحة الرئيسية</button>
        </div>
    </div>

    <div class="main" dir="rtl" lang="ar">
        <div class="container">
            <div class="upper-div">
                <div class="title">كل الأجهزة</div>
                <div class="search">
                    <div class="buttons">
                        <button class="all">الكل</button>
                        <button class="active">نشط</button>
                        <button class="inactive">معطل</button>
                    </div>
                    <select class="combobox">
                        <option value="purchaseDate-asc">الترتيب حسب تاريخ الشراء (القديم أولاً)</option>
                        <option value="purchaseDate-desc">الترتيب حسب تاريخ الشراء (الجديد أولاً)</option>
                        <option value="name-asc">الترتيب حسب الاسم (A-Z)</option>
                        <option value="name-desc">الترتيب حسب الاسم (Z-A)</option>
                        <option value="manufacturer-asc">الترتيب حسب الشركة المصنعة (A-Z)</option>
                        <option value="manufacturer-desc">الترتيب حسب الشركة المصنعة (Z-A)</option>
                        <option value="cost-asc">الترتيب باستخدام السعر (تصاعديا)</option>
                        <option value="cost-desc">الترتيب باستخدام السعر (تنازليا)</option>
                        <option value="warranty-asc">الترتيب باستخدام الضمان (تصاعديا)</option>
                        <option value="warranty-desc">الترتيب باستخدام الضمان (تنازليا)</option>
                    </select>
                    <button class="add-device"><i class="fa-solid fa-plus fa-xl add-icon"></i></button>
                </div>
            </div>
            <div class="lowerdiv">
                <header class="table-header">
                    <div class="header-col">
                        <div class="header-top">اسم الجهاز</div>
                        <div class="header-bottom">الشركة المصنعة</div>
                    </div>
                    <div class="header-col">
                        <div class="header-top">الحالة</div>
                        <div class="header-bottom">الضمان</div>
                    </div>
                    <div class="header-col">
                        <div class="header-top">السعر</div>
                        <div class="header-bottom">الرقم المسلسل</div>
                    </div>
                    <div class="header-col">تاريخ الشراء</div>
                </header>

                <div class="devices">
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div></div>    
                </div>
            </div>
        </div>
    </div>

</body>

</html>