<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الأجهزة</title>
    <link rel="stylesheet" href="../public/styles/devices.css">
    <link rel="stylesheet" href="../public/styles/editEquipment_style.css">
    <link rel="stylesheet" href="../public/styles/deleteOverlay.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="Nav-bar">
        <div id="Right-nav">
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-moon"></i></button>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button>
            <div id="Admin-data">
                <div class="navbar-name">عبدالله محمود</div>
                <img src="../public/images/myImage.jpg" alt="An admin's image" id="Admin-img">
            </div>
        </div>
        <div id="Left-nav">
            <button class="Nav-bar-btn active">المعدات</button>
            <button class="Nav-bar-btn">العمليات</button>
            <button class="Nav-bar-btn">غرف العمليات</button>
            <button class="Nav-bar-btn">الجراحون</button>
            <button class="Nav-bar-btn">المرضى</button>
            <button class="Nav-bar-btn">المواعيد</button>
            <button class="Nav-bar-btn">الصفحة الرئيسية</button>
        </div>
    </div>

    <div class="main" dir="rtl" lang="ar">
        <div class="container">
            <div class="upper-div">
                <div class="title">كل الأجهزة</div>
                <div class="search">
                    <div class="buttons">
                        <button class="all">الكل</button>
                        <button class="active">نشط</button>
                        <button class="inactive">معطل</button>
                    </div>
                    <select class="combobox">
                        <option value="purchaseDate-asc">الترتيب حسب تاريخ الشراء (القديم أولاً)</option>
                        <option value="purchaseDate-desc">الترتيب حسب تاريخ الشراء (الجديد أولاً)</option>
                        <option value="name-asc">الترتيب حسب الاسم (A-Z)</option>
                        <option value="name-desc">الترتيب حسب الاسم (Z-A)</option>
                        <option value="manufacturer-asc">الترتيب حسب الشركة المصنعة (A-Z)</option>
                        <option value="manufacturer-desc">الترتيب حسب الشركة المصنعة (Z-A)</option>
                        <option value="cost-asc">الترتيب باستخدام السعر (تصاعديا)</option>
                        <option value="cost-desc">الترتيب باستخدام السعر (تنازليا)</option>
                        <option value="warranty-asc">الترتيب باستخدام الضمان (تصاعديا)</option>
                        <option value="warranty-desc">الترتيب باستخدام الضمان (تنازليا)</option>
                    </select>
                    <button class="add-device"><i class="fa-solid fa-plus fa-xl add-icon"></i></button>
                </div>
            </div>
            <div class="lowerdiv">
                <header class="table-header">
                    <div class="header-col">
                        <div class="header-top">اسم الجهاز</div>
                        <div class="header-bottom">الشركة المصنعة</div>
                    </div>
                    <div class="header-col">
                        <div class="header-top">الحالة</div>
                        <div class="header-bottom">الضمان</div>
                    </div>
                    <div class="header-col">
                        <div class="header-top">السعر</div>
                        <div class="header-bottom">الرقم المسلسل</div>
                    </div>
                    <div class="header-col">تاريخ الشراء</div>
                </header>

                <div class="devices">
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <div class="device-row"><div class="device-col"><div class="top">infusion pump</div><div class="bottom">Alaris</div></div><div class="device-col"><div class="top">نشط</div><div class="bottom">5 سنوات</div></div><div class="device-col"><div class="top">3,000,000</div><div class="bottom">123723213123</div></div><div class="device-col">15/4/2023</div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- overlay pages -->

    <div class="edit-overlay">
        <div class="edit-overlay-container">
            <div class="edit-overlay-content">
                <h1 class="head"> تعديل بيانات الجهاز</h1>
                <br>
    
                <form action="editEquipment" method="POST">
                    <div class="form-group">
                        <label for="equipmentName">اسم الجهاز</label>
                        <input type="text" id="equipmentName" name="equipmentName" value="رنين مغناطيسي">
                    </div>
                    <br>
    
                    <div class="form-group">
                        <label for="serial number">الرقم التسلسلي</label>
                        <input type="text" id="serialNumber" name="serialNumber" value="12341245243">
                    </div>
                    <br>
    
                    <div class="form-group">
                        <label for="price">سعر الجهاز</label>
                        <input type="text" id="price" name="price" value="نص جنيه">
                    </div>
                    <br>
    
                    <div class="form-group">
                        <label for="warrantly">الضمان</label>
                        <input type="text" id="warrantly" name="warrantly" value="years 2">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="status">حالة الجهاز</label>
                        <input type="text" id="status" name="status" val="علي ما يرام">
                    </div>
                    <br>
    
                    <div class="form-group">
                        <label for="company">اسم الشركة المصنعة</label>
                        <input type="text" id="company" name="company" val="توشيبا">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="productionDate">تاريخ الانتاج</label>
                        <input type="date" id="productionDate" name="productionDate">
                    </div>
                    <br>
    
                    <div class="button-group">
                        <button type="button" class="cancel-edit">إلغاء</button>
                        <button type="submit">تحديث المعلومات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="delete-overlay" dir="rtl">
        <div class="delete-overlay-container">
            <header>تأكيد عملية الحذف</header>
            <h3 class="message"><i class="fa-solid fa-triangle-exclamation fa-xlg" style="color: #f74600;"></i>هل أنت
                متأكد من عملية الحذف؟</h3>
            <div class="buttons-container">
                <button class="cancel-deletion">إغلاق</button>
                <button class="confirm-deletion">تأكيد</button>
            </div>
        </div>
    </div>
    <script src="../public/js/3DotsMenu.js"></script>
</body>

</html>