<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> تعديل بيانات المريض</title>
    <link rel="stylesheet" href="../public/styles/editPatient_style.css">

   
</head>
<body>
    <div class="container">
      
        
       <div class="content">
        <h1 class="head"> تعديل بيانات المريض</h1>
        <br>
       
        
        <form action="editPatient" method="POST">
            <div class="form-group">
                <label for="name">الاسم</label>
                <input type="text" id="name" name="name" value="احمد">
            </div>
            <br>

            <div class="form-group">
                <label for="nationalID">الرقم القومي</label>
                <input type="text" id="nationalID" name="nationalID" value="3030630">
            </div>
            <br>

            <div class="form-group">
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" id="birthDate" name="birthDate" >
            </div>
            <br>

            
            <div class="form-group">
                <!-- Other form fields (name, email, password, etc.) -->
            
                <label for="gender">الجنس</label>
                <input type="radio" name="sex" value="Male" required /><span class="sexVal">ذكر</span>
                <input type="radio" name="sex" value="Female" required /><span class = "sexVal">أنثى</span>
            
                <!-- Submit button and other fields go here -->
            </div>
            <br>

            <div class="form-group">
                <label for="avatar">صورة المريض</label>
                <div class="custom-file-input">
                    <input type="file" id="avatar" name="avatar">
                    <label for="avatar">اختر ملف</label>
                    <span class="file-chosen">لا يوجد ملف مختار</span>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="mobile">رقم الهاتف</label>
                <input type="tel" id="mobile" name="mobile" value="031321">
            </div>
            <br>

            <div class="form-group">
                <label for="address">العنوان</label>
                <input type="text" id="address" name="address" value="شارع علي علوكة">
            </div>
            <br>

            <div class="button-group">
                <button type="button" class="cancel" onclick="window.location.href='/'">إلغاء</button>
                <button type="submit">تحديث البيانات</button>
            </div>
        </form> 
       </div>
    </div>
</body>
</html>
