<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> تعديل بيانات الادمن</title>
    <link rel="stylesheet" href="../public/styles/editAdmin_style.css">

   
</head>
<body>
    <div class="container">
      
        
       <div class="container-content">
        <h1 class="head">  تعديل بيانات المشرف</h1>
        <br>
        
        <form action="editAdmin" method="POST">
            <div class="form-group">
                <label for="name">الاسم</label>
                <input type="text" id="name" name="name" value="احمد محمد">
            </div>
            <br>

            <div class="form-group">
                <label for="id">الرقم القومي</label>
                <input type="text" id="id" name="id" value="303060">
            </div>
            <br>

            <div class="form-group">
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" id="birthDate" name="birthDate" >
            </div>
            <br>

            
            <div class="form-group">
                <!-- Other form fields (name, email, password, etc.) -->
            
                <label for="gender">الجنس</label>
                <input type="radio" name="sex" value="Male" required /><span class="sexVal">ذكر</span>
                <input type="radio" name="sex" value="Female" required /><span class = "sexVal">أنثى</span>
            
                <!-- Submit button and other fields go here -->
            </div>

            <!-- <div class="form-group">
                <label>الجنس</label>
                <div class="radio-group">
                    <input type="radio" id="male" name="sex" value="male" checked>
                    <label for="male" ><strong class="sexVal">ذكر</strong></label>
                    <input type="radio" id="female" name="sex" value="female" >
                    <label for="female"><strong class="sexVal">أنثى</strong></label>
                </div>
            </div> -->
            <br>

            <div class="form-group">
                <label for="avatar">صورة المشرف</label>
                <div class="custom-file-input">
                    <input type="file" id="avatar" name="avatar">
                    <label for="avatar">اختر ملف</label>
                    <span class="file-chosen">لا يوجد ملف مختار</span>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="email">البريد الالكتروني</label>
                <input type="tel" id="email" name="email" value="admin@example">
            </div>
            <br>

            <div class="form-group">
                <label for="mobile">رقم الهاتف</label>
                <input type="tel" id="mobile" name="mobile" value="031321">
            </div>
            <br>

            <div class="form-group">
                <label for="address">العنوان</label>
                <input type="text" id="address" name="address" value="شارع علي علوكة">
            </div>
            <br>


            <div class="form-group">
                <label for="password">كلمة المرور</label>
                <input type="text" id="password" name="password" value="Drop Table">
            </div>
            <br>
            <div class="form-group">
                <label for="confirmPassword">تأكيد كلمة المرور</label>
                <input type="text" id="confirmPassword" name="password" value="Drop Table">
            </div>
            <br>




           
            <div class="button-group">
                <button type="button" class="cancel">إلغاء</button>
                <button type="submit">تحديث المعلومات</button>
            </div>
        </form> 
       </div>
    </div>
</body>
</html>
