<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="../public/styles/home.css">
    <link rel="stylesheet" href="../public/styles/addSurgeon.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "Nav-bar">
        <div class="overlay" id="overlay">
        <div class="container addSurgeon">
            <h5>إضافة طبيب </h5>
            <form>
                <label for="name" dir='rtl' lang='ar'>اسم الطبيب</label>
                <input type="name" id="name" name="name" placeholder="ادخل اسم الطبيب" dir='rtl' lang='ar' required>
                <label for="speciality" dir='rtl' lang='ar'>تخصص الطبيب</label>
                <input type="speciality" id="speciality" name="speciality" placeholder="ادخل تخصص الطبيب" dir='rtl' lang='ar' required>
                <label for="ID" dir='rtl' lang='ar'>الرقم القومي للطبيب</label>
                <input type="ID" id="ID" name="ID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="adress" dir='rtl' lang='ar'>عنوان الطبيب</label>
                <input type="adress" id="adress" name="adress" placeholder="ادخل عنوان الطبيب" dir='rtl' lang='ar' required>
                <label for="email" dir='rtl' lang='ar'>Email</label>
                <input type="email" id="email" name="ID" placeholder="ادخل ال Email" dir='rtl' lang='ar' required>
                <label for="password" dir='rtl' lang='ar'>Password</label>
                <input type="password" id="password" name="password" placeholder="ادخل ال password" dir='rtl' lang='ar' required>
                <label for="password" dir='rtl' lang='ar'>تأكيد ال password</label>
                <input type="password" id="password" name="password" placeholder="ادخل ال password مرة اخري " dir='rtl' lang='ar' required>
                <label for="phone" dir='rtl' lang='ar'>رقم الهاتف المحمول</label>
                <input type="phone" id="phone" name="phone" placeholder=" ادخل رقم الهاتف المحمول"dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
        <div class = "Right-nav">
            <button class = "Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button>
            <button class = "Nav-bar-icon-btn" id = "Dark-mode"><i class="fa-solid fa-moon"></i></button>
            <button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button>
            <div class = "Admin-data">
                <div class="navbar-name">عبدالله محمود</div>
                <img src="../public/images/myImage.jpg" alt="An admin's image" class = "Admin-img">
            </div>
        </div>
        <div class = "Left-nav">
            <button class = "Nav-bar-btn">المعدات</button>
            <button class = "Nav-bar-btn">العمليات</button>
            <button class = "Nav-bar-btn">المشرفون</button>
            <button class = "Nav-bar-btn">الجراحون</button>
            <button class = "Nav-bar-btn">المرضى</button>
            <button class = "Nav-bar-btn">المواعيد</button>
            <button class = "Nav-bar-btn">الصفحة الرئيسية</button>
        </div>
    </div>

    <div id = "Front-div">
        <h1>أهلا بك في نظام العمليات الجراحية بالمستشفى</h1>
        <div id = "All-data-div">
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user-doctor Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>الجراحون</h3>
                    <h3>5</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المرضى</h3>
                    <h3>13</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user-tie Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المشرفون</h3>
                    <h3>3</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
        </div>
        <div id = "All-data-div">
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-syringe Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>العمليات</h3>
                    <h3>8</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-stethoscope Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>الأجهزة</h3>
                    <h3>20</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-regular fa-calendar-days Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المواعيد</h3>
                    <h3>6</h3>
                </div>
                <button class = "Icon-div addButton">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        var content = document.getElementsByTagName('body')[0]
        var h1 = document.getElementsByTagName('h1')[0]
        var darkMode = document.getElementById('Dark-mode')
        darkMode.addEventListener('click', function(){
            content.classList.toggle('night')
            h1.classList.toggle('night')
        })


        var addButton = document.querySelectorAll('.addButton')
        var addSurgeon = document.querySelector('.addSurgeon')
        addButton.forEach((addingButton) => {
            addingButton.addEventListener('click', function(){
                var overlay = document.querySelector('.overlay')
                overlay.style.display = "flex"
                var cancelAdding = document.querySelector('.cancel')
                cancelAdding.addEventListener('click', function(){
                    overlay.style.display = "none"
                })
            })
        });
        // var addButton = document.querySelector('.addButton')
        // var addSurgeon = document.querySelector('.addSurgeon')
        // addButton.addEventListener('click', function(){
        //     const overlay = document.createElement('Div')
        //     overlay.id = 'overlay'
        //     overlay.classList.add('overlay')
        //     addSurgeon.style.display = "block"
        //     content.appendChild(overlay)
        //     overlay.addEventListener('click', function() {
        //         overlay.remove();
        //     });

        // })
    </script>
</body>
</html>