<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/styles/home.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id = "Nav-bar">
        
        <div id = "Right-nav">
            <button class = "Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button>
            <button class = "Nav-bar-icon-btn"><i class="fa-solid fa-moon"></i></button>
            <button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button>
            <div id = "Admin-data">
                <h3>عبدالله محمود</h3>
                <img src="../public/images/myImage.jpg" alt="An admin's image" id = "Admin-img">
            </div>
        </div>
        <div id = "Left-nav">
            <button class = "Nav-bar-btn">المعدات</button>
            <button class = "Nav-bar-btn">العمليات</button>
            <button class = "Nav-bar-btn">غرف العمليات</button>
            <button class = "Nav-bar-btn">الجراحون</button>
            <button class = "Nav-bar-btn">المرضى</button>
            <button class = "Nav-bar-btn">المواعيد</button>
            <button class = "Nav-bar-btn">الصفحة الرئيسية</button>
        </div>
    </div>
</body>
</html>