<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="../public/styles/loginStyle.css">
</head>

<body>
    <div class="container">
        <h1>تسجيل الدخول للمشرفين</h1>
        <form action="loginUser" method="POST">
            <label for="email" dir='rtl' lang='ar'>البريد الألكتروني</label>
            <input type="email" id="email" name="email" placeholder="اكتب بريدك الألكتروني" dir='rtl' lang='ar' required>
            <label for="password" dir='rtl' lang='ar'>كلمة المرور</label>
            <input type="password" id="password" name="password" placeholder="أدخل كلمة المرور" dir='rtl' lang='ar' required>
            <input type="submit" value="تسجيل الدخول" dir='rtl' lang='ar'>
        </form>
    </div>
</body>

</html>