@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

#Nav-bar{
    height: 60px;
    background-color: rgb(61, 116, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body{
    background-color:white;
    margin: 0px;
}

.Nav-bar-btn{
    height: 60px;
    font-size: large;
    background-color: rgb(61, 116, 255);
    border: none;
    padding: 20px;
    color: white;

}

.navbar-name{
    color:white;
}

.Nav-bar-btn:hover, .Nav-bar-icon-btn:hover {
    background-color:white;
    color: rgb(61, 116, 255);
}

#Right-nav{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Admin-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Admin-img{
    width: 42px;
    height: 42px;
    border-radius: 30px;
    margin: 10px;
}

.Nav-bar-icon-btn{
    width: 35px;
    height: 35px;
    font-size: large;
    background-color: rgb(61, 116, 255);
    border: none;
    border-radius: 8px;
    color: white;
}

.Exit-icon{
    rotate: 180deg;
}

.main{
    padding: 0px 130px 0px 130px;
    height: calc(100vh - 60px);
}

.container{
    background-color: white;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 40px 48px 0px 48px;
    display: flex;
    flex-direction: column;
    /* border: solid rgb(243, 244, 246) 0.8px; */
}

.upper-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    justify-content: end;
    gap: 15px;
    width: 485px;
    height: 40px;
    align-items: center;
}

.buttons{
    background-color: white;
    border: solid rgb(243, 244, 246) 0.8px;
    padding: 5px;
}

.buttons button{
    font-size: 20px;
    padding: 5px 6px;
    border-radius: 7px;
    background-color: white;
    margin: 0px 2px;
    border: none;
}

.buttons button:hover{
    background-color:  rgb(61, 116, 255);
}

.combobox{
    width: 230px;
    height: 38px;
    border-color: rgb(243, 244, 246);
}

.add-admin{
    height: 38px;
    background-color: white;
    border: solid rgb(243, 244, 246) 0.8px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.upper-div .title{
    font-size: 40px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.lowerdiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.table-header, .admin-row{
    position: relative;
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 30px;
    border: solid rgb(243, 244, 246) 0.8px;
    height: 80px;
}

.table-header{
    background-color:#f9fafb;
    font-size: 22px;
}

.header-col, .admin-col{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-bottom{
    font-size: 18px;
    font-weight: 200;
}

.bottom{
    font-weight: 100;
}


.admins{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 260px);
}

.admin-gender{
    padding: 3px 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(61, 116, 255);
}


.add-admin:hover{
    background-color:  rgb(61, 116, 255);
}


::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(61, 116, 255);
    border-radius: 5px;
}


.menu-col{
    height: 20px; /*do not follow the content height*/
    position: absolute;
    left: 20px;
}

.content{
    display: none; /*as it is not existed*/
}

.content-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute; /*moved to new layer */
    z-index: 100;
    height: 80px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.655);
    transform: translateX(80px) translateY(5px);
}


.content button{
    background-color:#f9fafb;
    border: solid rgb(243, 244, 246) 0.8px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.content button:hover{
    background-color: whitesmoke;
}




