@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Rubik", sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 60%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.upperdiv{
    height: 350px;
}

.details{
    margin: 20px 0;
    align-items: center;
    padding-top:40px ;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -50 px;
    border: 3px solid #007bff;
    justify-content: flex-end;

}

.info {
    text-align: center;

}

.info h2 {
    margin: 0;
    color: #007bff;
    font-size: 24px;
}

.info p {
    margin: 5px 0;
    color: #6c757d;
}

.details p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    
}

.details i {
    margin-left: 10px;
    color: #007bff;
}

.buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 20px;
}

.buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons .edit-btn {
    background-color: #007bff;
    color: white;
}

.buttons .delete-btn {
    background-color: #dc3545;
    color: white;
}

.errormessageadminprofile{
    padding: 0;
    color: rgb(182,38,38);
    font-family: Arial,sans-serif;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 10px;
}



/* .operations {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.operations h3 {
    margin-top: 0;
    text-align: center;
}

.operation {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
}

.column {
    flex: 1;
    padding: 15px;
}

.column h4 {
    margin-top: 0;
    text-align: center;
}

.column p {
    margin: 15px 0;
    text-align: center;
}

.operation p strong {
    color: #333;
} */

