#Nav-bar{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body{
    background-color:whitesmoke;
    margin: 0px;
}

.Nav-bar-btn{
    height: 60px;
    font-size: large;
    background-color: white;
    border: none;
    padding: 20px;
}

.Nav-bar-btn:hover, .Nav-bar-icon-btn:hover {
    background-color:silver
}

#Right-nav{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Admin-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Admin-img{
    width: 42px;
    height: 42px;
    border-radius: 30px;
    margin: 10px;
}

.Nav-bar-icon-btn{
    width: 35px;
    height: 35px;
    font-size: large;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.Exit-icon{
    rotate: 180deg;
}