@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    /* background-image: url("../images/hospitalSystem.jpg"); */
    background-color:white;
    margin: 0px;
}

body.night{
    background-color: #111827;
    margin: 0px;
}

h1{
    margin-bottom: 50px;
}

h1.night{
    color: white;
}

h3{
    color: white;
}

#Front-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(61, 116, 255);
}

#All-data-div{
    display: flex;
    flex-direction: row;
}

.Data-div{
    border-radius: 14px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start ;
    background-color: rgb(61, 116, 255);
    height: 100px;
    width: 250px;
    color: white;
}

.Data-icon{
    color:white;
    font-size: 2.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    margin-left: 30px;
    width: 45px;
    height: 45px;
    background-color:rgb(61, 116, 255);
}

.addButton{
    background-color: rgb(61, 116, 255);
}

.addButton-icon:hover, .addButton:hover, .Icon-div-but:hover .addButton-icon, .Icon-div-but:hover{
    background-color: white;
    color: rgb(61, 116, 255);
}
.Small-data-div{
    width: 80px;
}

h3{
    margin: 15px;
}

button{
    cursor: pointer;
}

.form-group{
    margin-bottom: 12px;
}

label[for="gender"], label[for = "avatar"], label[for="birthDate"]{
    text-align: right;
}


.custom-file-input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.custom-file-input input[type="file"] {
    display: none;
}
.custom-file-input label {
    display: inline-block;
    background-color: rgb(61, 116, 255);
    color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: auto;
    white-space: nowrap;
}
.custom-file-input label:hover {
    background-color: #3700b3;
}
.custom-file-input .file-chosen {
    margin-right: 10px;
    color: #888;
    font-size: 14px;
}

.openedPageHighlighted{
    background-color:white !important; 
    color: rgb(61, 116, 255) !important;
}