@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body, html {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]
 {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
}

input[type="submit"] {
    background-color: #164ee6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 25px;
}

input[type="submit"]:hover {
    background-color: blue;
}


.errorDiv{
    padding: 0;
    color: rgb(182, 38, 38);
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 10px;
}

