.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */ /* Initially hidden */
    z-index: 100; /* Ensure it's above other content */
}

.show, .show1, .show2, .show3, .show4, .show5, .show6{
    display: flex;
}

.errorMessage{
    color:tomato;
    text-align: center;
}

.highlight{
    background-color:  rgb(61, 116, 255) !important;
    color: white !important;
}
